<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        {#http://api.jqueryui.com/autocomplete/#}
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <font color=#EA4335>I</font>
                <font color=#FBBC05>V</font>
                I
                <font color=#34A853>C</font>
                <font color=#34A853> </font>
                <font color=#EA4335>D</font>
                U
                <font color=#34A853>T</font>
                <font color=#EA4335>Y</font>
            </h1>

            <br><br>
            {#Autocomplete: http://api.jqueryui.com/autocomplete/#}
            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
                <br>
                <select class="custom-select" name="Issue" required="True">
                    <option value="" disabled="disabled">--Please choose an issue--</option>
                    <option value="Taxes">Taxes</option>
                    <option value="Abortion">Abortion</option>
                    <option value="Gun Control">Gun Control</option>
                    <option value="Global Warming">Global Warming</option>
                </select>
                <div><input type="range" value="3" min="1" max="5" step="1"></div>
                <div class="range-slider" data-slider="3" data-options="start: 1; end: 5;">
                    <span class="range-slider-handle" role="slider" tabindex="0"></span>
                    <span class="range-slider-active-segment"></span>
                    <input type="hidden">
                </div>
{#                <script>#}
{#                    $( "#input" ).autocomplete({#}
{#                        source: [ "Taxes", "Abortion", "Gun Control", "Global Warming", "Drug Control", "Civil Rights"]#}
{#                    });#}
{#                </script>#}
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br>
                <div class="basic_info">
                    <p class="id">{{d.idx}}</p>
                    <img src={{d.pic}} alt={{d.name}} class="profile_image">
                    <figcaption class="name">{{d.name}}</figcaption>
                    <p class="arrow">-></p>
                    <br>
                    <div class = party>
                        <p>{{d.party}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>
