<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <font color=#EA4335>I</font>
                <font color=#FBBC05>V</font>
                I
                <font color=#34A853>C</font>
                <font color=#34A853> </font>
                <font color=#EA4335>D</font>
                U
                <font color=#34A853>T</font>
                <font color=#EA4335>Y</font>
            </h1>

            <br><br>

            <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
            </div>
            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if data %}
            <h1>{{output_message}}</h1>
            {% for d in data %}
                <br>
                <div class="basic_info">
                    <p class="id">{{d.idx}}</p>
                    <img src={{d.pic}} alt={{d.name}} class="profile_image">
                    <figcaption class="name">{{d.name}}</figcaption>
                    <p class="arrow">-></p>
                    <br>
                    <div class = party>
                        <p>{{d.party}}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </form>
    </body>

</html>
